<!--/****************************************************
Higher Diploma in Science in Computing
* Team G
* Subject: Web Design
* Assignment: Web Design Final Project
* Authors: Aleksandra Czekaj, Katherina McGrath, Francis Ryan,
* Student ID: X17164699, X17166322, X17164745,
* Date: 22/04/2018

* Ref:Please See Reference Doc
****************************************************/-->

		<!-- HERO Text  -->
		<div class="site-hero">
			<div class="page-title">
					<h2>We Are</h2>
					<div class="big-title2" style="text-align:center;float:center;uppercase montserrat-text">PERFeCTa</div>
				
			</div>
		</div>
		<!-- end/hero text  -->
	  
	  <body class="animsition">
	  
		<!-- ==== HISTORY/WHO WE ARE ==== -->
		<article>
			<div class="dark" "container">
				<div class="row">
					<div class="col-md-6">
						<div class="article-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
							<span>Our History</span>
							<p class="montserrat-text uppercase">Who we are</p>
						</div>
							<p>Our story begins on the 1st of July 1987. On that day a young chemist started a small one-man laboratory in Trento, 
							close to the Trento University.At that time there were only a few private laboratories in the area, so Perfecta 
							started growing and broadening it’s services and expertise. Up to this day, Perfecta is still faithful to it’s first philosophy, 
							which is to serve the clinical and research community with the highest possible standards and quality laboratory services adjusted to 
							the individual needs.</p>
							<a href="about.html" class="btn orange" style="float:left;margin-top:30px"><span>Read More</span></a>
					</div><!-- col span-1-of-2 -->
				
					<div class="col-md-6">
						<div class="article-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
							<span>Our Guarantee</span>
							<p class="montserrat-text uppercase">For over 30 years</p>
						</div>
						<p>Perfecta has been a local leader in dietary and food safety certification, pharmacological studies as well as clinical and veterinary 
						testing for more than 30 years.Based in Limerick, Ireland, We are proud to provide support to clients located around the world. 
						 Using state-of-the-art high containment facilities, We bring value, reliability and quality answers to your questions.From consultation to client delivery, 
						 we pride ourselves on a commitment to excellence and a blemish-free inspection record. </p>
							<a href="services.html" class="btn orange" style="float:left;margin-top:30px"><span>Our Services</span></a>
					</div><!-- col span-1-of-2 -->
				</div><!-- row -->
			</div><!-- dark container -->
		</article><!-- end/history/who we are  -->

		<!-- ==== WHAT WE OFFER ==== -->
		<article>
			<div class="container">
				<div class="row"style="padding:100px 0px">
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp">
						<i class="ion-university"></i>
						<span class="title montserrat-text uppercase">What We Can Test</span>
						<p>Perfecta currently has the capabilities for testing thousands of species of plants, 
						animals, yeast, bacteria and environmental samples. Contact us and we will advise you! </p>
					</div><!-- col span-1-of-3 -->

					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".1s">
						<i class="ion-clipboard"></i>
						<span class="title montserrat-text uppercase">Our Testing Services</span>
						<p>Perfecta provides the highest quality of service for your food safety certification, 
						pharmacological studies as well as clinical and veterinary testing needs. </p>
					</div><!-- col span-1-of-3 -->

					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".2s">
						<i class="ion-trophy"></i>
						<span class="title montserrat-text uppercase">Our Standard Services</span>
						<p>Perfercta offers a wide range of medical and analytical laboratory services for food, 
						pharmaceutical and clinical industry. We use flow cytometry and next generation sequencing to 
						provide you with excellent quality services. </p>
					</div><!-- col span-1-of-3 -->
	
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".0s">
						<i class="ion-ios-stopwatch-outline"></i>
						<span class="title montserrat-text uppercase">Contract Services</span>
						<p>In addition to traditional testing orders, Perfecta welcomes and encourages you to bring your next research project. 
						Whether it’s a short-term or long-term project, we are here to help. We are always seeking new and innovative projects to
						work on with our collaborators. </p>
					</div><!-- col span-1-of-3 -->
				
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".2s">
						<i class="ion-erlenmeyer-flask"></i>
						<span class="title montserrat-text uppercase">Materials We Test</span>
						<p>Our DNA testing services are appropriate for a wide range of materials, species, products and
						 ingredients, including:Blood, Dietary supplement capsules and tablets, Botanical drugs, Herbal tinctures, Botanical extracts,
						 Food products, Pressed oils, Grain and grain products, Vegetable and meat protein powders and
						 many more… </p>
					</div><!-- col span-1-of-3 -->
	
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".3s">
						<i class="ion-plane"></i>
						<span class="title montserrat-text uppercase">Quality Policy</span>
						<p>Perfecta aims to become the premier national leader in testing services through high quality scientific
						   methods and exceptional customer service. To that end, Perfecta has implemented a Quality
						   Management System (QMS) that meets the requirements of ISO 15189:2007 and ISO 17025:2005.
						  </p>
					</div><!-- col span-1-of-3 -->
					
				</div><!-- row -->
			</div><!-- container -->	
		</article><!-- end/what we offer  -->
	
		<!-- ==== OUR SERVICES ==== -->
		<article class="services">
			<div class="dark""container">
					<div class="article-title"style="margin-bottom:0">
						<span>Our Latest News</span>
						
					</div>
				
					<div class="row">
						<div class="col-md-6 wow fadeInUp">
							<div class="service_1">
								<div class="ts-service-image-wrapper">
								<%=image_tag("assets/team1.jpg")%>
									<div class="service_title montserrat-text uppercase">OUR Laboratory</div>
									<div class="ts-service-content">
										<h4 class="service-title">LIMERICK</h4>
											<p>Perfecta’s newly opened laboratory in limerick, offers a range of advanced pharmacological studies and guarantees the very best in Quality & Service.
											  Our customers can expect our team of highly trained individuals to excel in creating versatile, tailored and cost-effective solutions for all of their needs.</p>
											<p><a class="link-more" href="#" style="color: #e8491d;">Read More<i class="ion-arrow-right-c"></i></a></p>
									</div>
										<a href="contact.html" class="btn orange" style="float:left;margin-top:30px"><span>Get Started</span></a>
								</div>
							</div><!-- col span-1-of-3-->
						</div>

						<div class="col-md-6 wow fadeInUp" data-wow-delay=".1s">
							<div class="service_1">
								<div class="ts-service-image-wrapper">
									<%=image_tag("assets/team2.jpg")%>
									<div class="service_title montserrat-text uppercase">OUR TEAM</div>
									<div class="ts-service-content">
										<h4 class="service-title">IRISH LABORATORY AWARDS 2018</h4>
											<p>Perfecta provides the highest quality of service for your food safety certification, pharmacological studies as well as clinical and veterinary test needs. 
											Our team strives to act as a partner with you and your company to provide best in class quality by giving you,Validated methodology
											Reliable and accurate results and detailed customer support</p>
											<p><a class="link-more" href="#"style="color: #e8491d;">Read More<i class="ion-arrow-right-c"></i></a></p>
									</div>
										<a href="contact.html" class="btn orange" style="float:left;margin-top:30px"><span>Get Started</span></a>
								</div>
							</div><!-- col span-1-of-3-->
						</div>	 
					</div><!-- row -->
			</div><!-- container -->
		</article><!-- end/services -->
		
		
		<!-- ==== READ MORE SECTION ==== -->
		<article>
			<div class="grey" "container"><!-- LIGHT GREY ARTICLE -->
				<div class="light-gray-article wow fadeInUp" style="padding:15px 30px;">
					<div class="row">
						<p class="italic" style="float:left;line-height:50px;margin:0">
						   Perfecta has implemented a Quality Management System (QMS) that meets the requirements of ISO 15189:2007 and ISO 17025:2005. The purpose of the QMS is to ensure that the Company: (1) meets or exceeds the requirements and
						   expectations of its customers, (2) continuously monitors.
						</p>
						<a href="" class="btn orange" style="float:right"><span>read more</span></a>
					</div><!-- row -->
				</div>
			</div><!-- end/read more section -->

			<!-- TESTIMONIALS/CLIENTS-->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="testimonials wow fadeInUp animated" style="height: 294px; visibility: visible;">
						<ul class="slides">
							<li class="testimonials_single" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
								<div class="author_pic">
										
								</div>
								<p>
									Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur orci. Suspendisse libero mauris.
								</p>
								<div class="author_name">john doe</div>
							</li>

							<li class="testimonials_single" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
								<div class="author_pic">
									<img src="assets/img/face.jpg" alt="testimonial image" draggable="false">
								</div>
								<p>
									It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
								</p>
								<div class="author_name">john doe</div>
							</li>

							<li class="testimonials_single flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
								<div class="author_pic">
									<%=image_tag("assets/testimonial1.png")%>
								</div>
								<p>
									There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								</p>
								<div class="author_name">john doe</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" style="visibility: visible;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client1.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client2.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
							<div class="clients_single">
								<a href="#">
										<%=image_tag("clients/client3.png")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client4.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client5.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s;">
							<div class="clients_single">
								<a href="#">
										<%=image_tag("clients/client6.jpg")%>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- end/TESTIMONIALS/CLIENTS-->	
		
	

