<!--/****************************************************
Higher Diploma in Science in Computing
* Team G
* Subject: Web Design
* Assignment: Web Design Final Project
* Authors: Aleksandra Czekaj, Katherina McGrath, Francis Ryan,
* Student ID: X17164699, X17166322, X17164745,
* Date: 22/04/2018

* Ref:Please See Reference Doc
****************************************************/-->

		<!-- HERO Text  -->
		<div class="site-hero">
			<div class="page-title">
					<h2>We Are</h2>
					<div class="big-title2" style="text-align:center;float:center;uppercase montserrat-text">PERFeCTa</div>
				
			</div>
		</div>
		<!-- end/hero text  -->
	  
	  <body class="animsition">
	  
	<!-- ==== HISTORY/WHO WE ARE ==== -->
		<article>
			<div class="dark" "container">
				<div class="row">
					<div class="col-md-6">
						<div class="article-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
							<span>Our History</span>
							<p class="montserrat-text uppercase">Who we are</p>
						</div>
							<p>Whether you are buying new or used, plain or luxurious, commonplace or rare, trendy or one-of-a-kind – if it exists in the world,
							it probably is for sale on PERFeCTa. Our mission is to be the world’s favorite destination for discovering great value and unique selection.
							We give sellers the platform, solutions, and support they need to grow their businesses and thrive. We measure our success by our customers' success..
							<strong>What sets us apart is</strong> Our vision for commerce is one that is enabled by people, powered by technology, and open to everyone. 
							And we're just as passionate about it today as when we founded the company in 1995.</p>
							<a href="about.html" class="btn orange" style="float:left;margin-top:30px"><span>Read More</span></a>
					</div><!-- col span-1-of-2 -->
				
					<div class="col-md-6">
						<div class="article-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
							<span>Our Guarantee</span>
							<p class="montserrat-text uppercase">For over 20 years</p>
						</div>
						<p>We empower people and create economic opportunity,We focus on partnering with our sellers, not competing with them. We are building stronger connections between buyers and sellers with product experiences
						 that are fast, mobile,and secure. And we are transforming the individual selling experience to help you turn the things you no longer need into cash you can use.<br>
						<strong>We employ extraordinary</strong> people who do meaningful work that has a tangible impact on the lives of individuals all over the world.And we aspire to make 
						extraordinary things possible for our customers, and for you.</p>
						<a href="services.html" class="btn orange" style="float:left;margin-top:30px"><span>Our Services</span></a>
					</div><!-- col span-1-of-2 -->
				</div><!-- row -->
			</div><!-- dark container -->
		</article><!-- end/history/who we are  -->

		<!-- ==== WHAT WE OFFER ==== -->
		<article>
			<div class="container">
				<div class="row"style="padding:100px 0px">
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp">
						<i class="ion-university"></i>
						<span class="title montserrat-text uppercase">A Better Form of Commerce</span>
						<p>We connect millions of buyers and sellers around the world, empowering people and creating economic opportunity for all. With 175 million buyers in 190 markets around the world, 
						eBay truly offers our sellers a portal to the world’s consumers. Over the years, we’ve invested in a variety of programs and tools to help our sellers capitalize on this.</p>
					</div><!-- col span-1-of-3 -->

					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".1s">
						<i class="ion-clipboard"></i>
						<span class="title montserrat-text uppercase">Partner to Sellers</span>
						<p>From the casual seller looking to earn some extra cash, to the entrepreneur wanting to grow a small business, 
						to the large enterprise interested in expanding its customer base – eBay partners with sellers of all sizes to create powerful opportunities that enable them to turn 
						their passions into global sales.</p>
					</div><!-- col span-1-of-3 -->

					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".2s">
						<i class="ion-trophy"></i>
						<span class="title montserrat-text uppercase">How We Help</span>
						<p>As a marketplace, we only win when our sellers succeed. That's why we're committed to investing in the tools and technologies that our sellers need to 
						grow and thrive. When it comes to supporting and enabling our sellers, we're focused on three core areas: providing great reach and velocity, creating a platform for smart,
						easy and profitable selling and creating lasting, meaningful partnerships with our sellers. </p>
					</div><!-- col span-1-of-3 -->
	
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".0s">
						<i class="ion-ios-stopwatch-outline"></i>
						<span class="title montserrat-text uppercase">Easy & Profitable Selling</span>
						<p>At PERFeCTa, we pride ourselves on being a place where entrepreneurs and individuals from any background, geography or skill level can sell online and even grow a business. 
						 By providing low barriers to entry and a simple, intuitive set of tools to get started, we make online retailing accessible and easy.</p>
					</div><!-- col span-1-of-3 -->
				
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".2s">
						<i class="ion-erlenmeyer-flask"></i>
						<span class="title montserrat-text uppercase">A True Partnership</span>
						<p>At PERFeCTa, partnering with our sellers starts and ends with a promise to not compete with them. Our pure-play marketplace model means that when they succeed, we succeed. 
						That's why in recent years, we’ve doubled down on our partnership through a best-in-class global customer service organization to support their businesses, 
						a trust infrastructure that protects them and enables confident shopping and an innovative approach to sharing data and insights on what’s selling, when and at what price to fuel their business.</p>
					</div><!-- col span-1-of-3 -->
	
					<div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".3s">
						<i class="ion-plane"></i>
						<span class="title montserrat-text uppercase">Providing Reach & Velocity</span>
						<p>From traditional advertising and marketing investments to drive web traffic; to best-in-class search and browse experiences; to customized promotional tools that boost listing visibility;
						to shipping programs that make international selling seamless. And we follow that up with a commitment to retail standard selling and shipping that ensures buyers come back over and over.</p>
					</div><!-- col span-1-of-3 -->
					
				</div><!-- row -->
			</div><!-- container -->	
		</article><!-- end/what we offer  -->
	
		<!-- ==== OUR SERVICES ==== -->
		<article class="services">
			<div class="dark""container">
					<div class="article-title"style="margin-bottom:0">
						<span>Our Latest News</span>
						
					</div>
				
					<div class="row">
						<div class="col-md-6 wow fadeInUp">
							<div class="service_1">
								<div class="ts-service-image-wrapper">
								<%=image_tag("assets/team1.jpg")%>
									<div class="service_title montserrat-text uppercase">Partner to Sellers</div>
									<div class="ts-service-content">
										<h4 class="service-title">Champion of Small Business</h4>
											<p>At PERFeCTa, we recognize that many of our sellers are independent business owners – 
											often operating global ecommerce businesses with tiny teams and limited resources. In addition to supporting their growth on eBay, we’ve launched a few programs 
											that support and celebrate them.</p>
											<p><a class="link-more" href="#" style="color: #e8491d;">Read More<i class="ion-arrow-right-c"></i></a></p>
									</div>
										<a href="contact.html" class="btn orange" style="float:left;margin-top:30px"><span>Get Started</span></a>
								</div>
							</div><!-- col span-1-of-3-->
						</div>

						<div class="col-md-6 wow fadeInUp" data-wow-delay=".1s">
							<div class="service_1">
								<div class="ts-service-image-wrapper">
									<%=image_tag("assets/team2.jpg")%>
									<div class="service_title montserrat-text uppercase">Seller Spotlights</div>
									<div class="ts-service-content">
										<h4 class="service-title">Meet Our Sellers</h4>
											<p>The heart and soul of PERFeCTa are the tens of millions of people that sell on our platform. They are a diverse, dedicated and endlessly passionate group of individuals. Some have faced adversity or doubt and overcome odds with PERFeCTa’s help, 
											others have walked away from traditional careers to pursue their dream of becoming successful business owners. Come explore the stories that breathe color into our marketplace.</p>
											<p><a class="link-more" href="#"style="color: #e8491d;">Read More<i class="ion-arrow-right-c"></i></a></p>
									</div>
										<a href="contact.html" class="btn orange" style="float:left;margin-top:30px"><span>Get Started</span></a>
								</div>
							</div><!-- col span-1-of-3-->
						</div>	 
					</div><!-- row -->
			</div><!-- container -->
		</article><!-- end/services -->
		
		
		<!-- ==== READ MORE SECTION ==== -->
		<article>
			<div class="grey" "container"><!-- LIGHT GREY ARTICLE -->
				<div class="light-gray-article wow fadeInUp" style="padding:15px 30px;">
					<div class="row">
						<p class="italic" style="float:left;line-height:50px;margin:0">
						   <strong>SELLER ADVOCACY</strong> : We believe in the power of our voice and our global brand to affect industry-wide policy change. We engage beyond the walls of our business, actively monitoring a variety of legislative 
						   and regulatory issues and championing the causes that matter to our global seller community.
						</p>
						<a href="" class="btn orange" style="float:right"><span>read more</span></a>
					</div><!-- row -->
				</div>
			</div><!-- end/read more section -->

			<!-- TESTIMONIALS/CLIENTS-->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="testimonials wow fadeInUp animated" style="height: 294px; visibility: visible;">
						<ul class="slides">
							<li class="testimonials_single flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
								<div class="author_pic">
									<%=image_tag("assets/testimonial1.png")%>
								</div>
								<p><strong>"The key to our success</strong>
							     lies in the quality of the technical & customer support that is given to buyers by PERFEcTa,customers feel safe online allowing the quality of our products & competitive prices to do the talking."</p>
								<div class="author_name">John Doe</div><br>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" style="visibility: visible;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client1.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client2.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">
							<div class="clients_single">
								<a href="#">
										<%=image_tag("clients/client3.png")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client4.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">
							<div class="clients_single">
								<a href="#">
									<%=image_tag("clients/client5.jpg")%>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s;">
							<div class="clients_single">
								<a href="#">
										<%=image_tag("clients/client6.jpg")%>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- end/TESTIMONIALS/CLIENTS-->	
		
	

