		<!-- newsletter -->
	<section class="orange-article wow fadeInUp" style="padding:50px 0">
		<div class="container">
			<div class="col-md-6 col-sm-12">
				<div class="row">
					<span class="white-text montserrat-text uppercase" style="font-size:30px;display:block;">
						you think we're cool? let's work together
					</span>
					<a href="#" class="btn white" style="margin-top:30px"><span>get in touch</span></a>
				</div>
			</div>

			<div class="col-md-6 col-sm-12">
				<div class="row">
					<div class="white-article" style="padding:20px">
						<span class="montserrat-text uppercase" style="font-size:24px">stay informed with our newsletter</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<form action="#" method="post">
							<div class="input_1">
								<input type="text" name="email">
								<span>your email</span>
							</div>
							<button type="submit" class="btn green" style="margin-top:20px"><span>send</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	
		<!-- FOOTER -->
		<footer class="main-footer wow fadeInUp">
			<div class="container">
				<div class="col-md-8 col-sm-12"style="text-align:left">
					<div class="row">
						<nav class="footer-nav">
						<ul>
							<li><%= link_to "About", pages_about_path %></li>
							<li><%= link_to "Contact", pages_contact_path %></li>
						</ul>
     					<ul>
     				 	<% if user_signed_in? %>
      						<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          				<% else %>
        					<li><%= link_to "Sign Up", new_user_registration_path %></li>
        					<li><%= link_to "Sign In", new_user_session_path %></li>
     			 		<% end %>
    					</ul>
    					</nav><!-- footer-nav -->
  					</div><!-- /.navbar-collapse -->
				</div>
		
			
				<div class="col-md-4 col-sm-12" style="text-align:right">
					<div class="row">
						<div class="uppercase gray-text">
							created by Team G &copy;2018. all rights reserved.
						</div>
						<ul class="social-icons" style="margin-top:30px;float:right">
							<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
							<li><a href="#"><i class="icon ion-social-youtube"></i></a></li>
							<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
							<li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="icon ion-social-instagram"></i></a></li>
						</ul>
					</div><!-- row -->
				</div><!-- col span-1-of-2 -->
			</div><!-- container -->
		</footer>
	